function Board.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 1
push constant 1
push constant 509
push constant 1
call Screen.drawLine 4
pop temp 0
push constant 1
push constant 1
push constant 1
push constant 251
call Screen.drawLine 4
pop temp 0
push constant 509
push constant 251
push constant 509
push constant 1
call Screen.drawLine 4
pop temp 0
push constant 1
push constant 251
push constant 509
push constant 251
call Screen.drawLine 4
pop temp 0
push constant 1
push constant 125
push constant 509
push constant 125
call Screen.drawLine 4
pop temp 0
push constant 128
push constant 1
push constant 128
push constant 251
call Screen.drawLine 4
pop temp 0
push constant 255
push constant 1
push constant 255
push constant 251
call Screen.drawLine 4
pop temp 0
push constant 382
push constant 1
push constant 382
push constant 251
call Screen.drawLine 4
pop temp 0
push constant 8
call Array.new 1
pop this 1
push constant 0
push this 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 1
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 1
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 1
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function Board.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Board.drawCell 0
push argument 0
pop pointer 0
push argument 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
call Screen.setColor 1
pop temp 0
label IF_END0
push argument 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 11
push constant 11
push constant 118
push constant 115
call Screen.drawLine 4
pop temp 0
push constant 118
push constant 11
push constant 11
push constant 115
call Screen.drawLine 4
pop temp 0
label IF_FALSE1
push argument 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 178
push constant 65
push constant 196
push constant 94
call Screen.drawLine 4
pop temp 0
push constant 205
push constant 31
push constant 196
push constant 94
call Screen.drawLine 4
pop temp 0
label IF_FALSE2
push argument 1
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 275
push constant 21
push constant 362
push constant 105
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE3
push argument 1
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 432
push constant 65
push constant 450
push constant 94
call Screen.drawLine 4
pop temp 0
push constant 459
push constant 31
push constant 450
push constant 94
call Screen.drawLine 4
pop temp 0
label IF_FALSE4
push argument 1
push constant 5
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 64
push constant 188
push constant 40
call Screen.drawCircle 3
pop temp 0
label IF_FALSE5
push argument 1
push constant 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 148
push constant 145
push constant 235
push constant 231
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE6
push argument 1
push constant 7
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 265
push constant 135
push constant 372
push constant 241
call Screen.drawLine 4
pop temp 0
push constant 372
push constant 135
push constant 265
push constant 241
call Screen.drawLine 4
pop temp 0
label IF_FALSE7
push argument 1
push constant 8
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 446
push constant 188
push constant 40
call Screen.drawCircle 3
pop temp 0
label IF_FALSE8
push constant 0
return
function Board.cellNumToShapeNum 0
push argument 0
pop pointer 0
push argument 1
push constant 1
sub
push this 1
add
pop pointer 1
push that 0
return
